<h1>Hop Kong Vendors</h1>
<div id="vendor-page">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <h1><%= @vendor.name %></h1>
      <p>Address: <%= @vendor.street %>, <%= @vendor.locality %></p>
      <p>Phone: <%= @vendor.phone %></p>
      <p>Email: <%= @vendor.email %></p>
    </div>
    <div class="col-md-5 col-xs-12">
      <img class ="image img-responsive" src="<%= @vendor.image_url %>">
    </div>
  </div>
</div>
